<html>
<body style="background: url(/img) no-repeat center center fixed; background-size: cover;">

<a target="_blank" href="https://www.nationalgeographic.com/photography/photo-of-the-day/"><img style="height:50px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Natgeologo.svg/1024px-Natgeologo.svg.png?1522570804292" /></a>

</body>
</html>
